body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.courses {
    text-align: center;
    padding: 20px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas iguales */
    gap: 20px;
    /* Espacio entre los cursos */
}

.course-item {
    border: 1px solid #ddd;
    padding: 20px;
}

.course-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.course-item h2 {
    margin-bottom: 10px;
}

.course-item a {
    background-color: #4CAF50;
    /* Ejemplo de color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}