<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cursos.css">
    <title>Nuestros Cursos</title>
</head>
    <!-- Codigo pagina de cursos con html -->
<body>
    <header>
        <nav>
            <nav>
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="./cursos.html">Nuestros cursos</a></li>
                    <li><a href="../instructor/instructors.html">Instructores</a></li>
                    <li><a href="../testimonios/testimonios.html">Testimonios</a></li>
                    <li><a href="../registro/registro.html">Registrate</a></li>
                    <li><a href="../iniciosesion/iniciosesion.html">Inicio de sesion</a></li>
                </ul>
            </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Nuestros cursos</h1>
            <p>Descubre los cursos diseñados para tu bienestar</p>
        </section>
        <section class="courses">
            <div class="course">
                <img src="../../img/cursoyoga.jpg" alt="Curso de Yoga">
                <h2>Yoga</h2>
                <p>Aprende técnicas de relajación y mejora tu flexibilidad.</p>
            </div>
            <div class="course">
                <img src="../../img/cursomeditacion.jpg" alt="Curso de Meditación">
                <h2>Meditación</h2>
                <p>Encuentra la paz interior con nuestras sesiones guiadas.</p>
            </div>
            <div class="course">
                <img src="../../img/cursonutricion.jpg" alt="Curso de Nutrición">
                <h2>Nutrición</h2>
                <p>Descubre cómo llevar una alimentación saludable y balanceada.</p>
            </div>
        </section>
    </main>
    
    <a href="../../index.html">
        <button id="Ir al inicio">Ir al Inicio</button>
    </a>
</body>
</html>
