<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructores</title>
    <link rel="stylesheet" href="./instructores.css">
    <script type="module" src="../../api/main.js"></script>
</head>

<body>
    <div class="contenedor-principal">
        <h1>INSTRUCTORES</h1>
        <div class="instructores">
            <div class="instructor">
                <img src="profeyoga.jpg" alt="Isabella Ríos">
                <h2>Isabella Ríos</h2>
                <p>Isabella es una instructora de yoga apasionada...</p>
            </div>
            <div class="instructor">
                <img src="sofia.jpg" alt="Sofía Mendoza">
                <h2>Sofía Mendoza</h2>
                <p>Sofia guía meditaciones mindfulness y de atención plena...</p>
            </div>
            <div class="instructor">
                <img src="profecocinasaludable.jpg" alt="Daniela Rivas">
                <h2>Daniela Rivas</h2>
                <p>Daniela es especialista en alimentación consciente...</p>
            </div>
            <div class="instructor">
                <img src="profefitness.webp" alt="Javier Morales">
                <h2>Javier Morales</h2>
                <p>Javier es un entrenador personal certificado...</p>
            </div>
            <div class="instructor">
                <img src="profegestion estres.jpg" alt="Ricardo Jiménez">
                <h2>Ricardo Jiménez</h2>
                <p>Ricardo es un terapeuta y coach especializado...</p>
            </div>
            <div class="instructor">
                <img src="profeautoconciencia.jpg" alt="Mariana Herrera">
                <h2>Mariana Herrera</h2>
                <p>Mariana es una facilitadora de talleres de autoconocimiento...</p>
            </div>
        </div>

        <button id="fetchUserById">fetch users</button>
    </div>
</body>

</html>