<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructores</title>
    <link rel="stylesheet" href="./instructores.css">
    <script type="module" src="../../api/main.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../courses/cursos.html">Nuestros Cursos</a></li>
                <li><a href="./instructors.html">Instructores</a></li>
                <li><a href="#">Testimonios</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#">Inicio de sesion</a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor-principal">
        <h1>Instructores</h1>
        <div class="instructores">
            <div class="instructor">
                <img src="../../img/profeyoga.jpg" alt="Isabella Ríos">
                <h2>Isabella Ríos</h2>
                <p>Isabella es una instructora de yoga apasionada...</p>
            </div>
            <div class="instructor">
                <img src="../../img/profeyoga3.jpg" alt="Sofía Mendoza">
                <h2>Sofía Mendoza</h2>
                <p>Sofia guía meditaciones mindfulness y de atención plena...</p>
            </div>
            <div class="instructor">
                <img src="../../img/profeyoga2.jpg" alt="Daniela Rivas">
                <h2>Daniela Rivas</h2>
                <p>Daniela es especialista en alimentación consciente...</p>
            </div>
            <div class="instructor">
                <img src="../../img/profeyoga4.jpg" alt="Javier Morales">
                <h2>Javier Morales</h2>
                <p>Javier es un entrenador personal certificado...</p>
            </div>
            <div class="instructor">
                <img src="../../img/profeyoga5.jpg" alt="Ricardo Jiménez">
                <h2>Ricardo Jiménez</h2>
                <p>Ricardo es un terapeuta y coach especializado...</p>
            </div>
            <div class="instructor">
                <img src="../../img/profeyoga6.jpg" alt="Mariana Herrera">
                <h2>Mariana Herrera</h2>
                <p>Mariana es una facilitadora de talleres de autoconocimiento...</p>
            </div>
        </div>

        <a href="../../index.html">
            <button id="Ir al inicio">Ir al Inicio</button>
        </a>
    </div>
</body>

</html>